:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #fff;
  --primary-bg-color: #f5f4fa;
  --primery-footer-contact: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
}
/* основиний колір тексту background: #757575;*/
/*основний колір заголовок background: #212121;*/
/*жругорядний колір фону #f5f5f5;*/
/*основний колір кнопок #F5F4FA;*/
/*колір кнопок при наведенні #2196F3;*/
/*text-decoration: none;*/
/*site-nav*/

/*defold seting*/

body {
  font-family: Roboto, sans-serif;

  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  display: flex;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

/*header*/

header {
  background-color: var(--primery-white-color);
  border-bottom: 1px solid #ececec;
}

.heder {
  align-items: center;
  display: flex;
}

.list-header {
  display: flex;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--title-text-color);
}

.logo-link {
  text-decoration: none;

  color: #2196f3;
}

.header-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: #212121;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.list .item + .item {
  margin-left: 50px;
}

.header-contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: #757575;
}

.mail,
.telephone {
  fill: currentColor;
}

.mail,
.telephone {
  margin-right: 10px;
}

/*studio*/
/*hero*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--footer-background-color);

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: contain;*/
}

.hero-title {
  width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--primery-white-color);
}

/*features*/

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list .list-features + .list-features {
  margin-left: 30px;
}

.list-features {
  width: 270px;
}

.features-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

/*.list-features::before {
  display: block;
  content: "";
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;

  height: 120px;
  background-color: #f5f4fa;
}

.icon-antenna::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}*/
/*hoby*/

.section-hoby {
  padding-bottom: 94px;
}

.li-color {
  width: 270px;
  height: 428px;
  padding: 0px 0px 108px 0px;

  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.hoby-list {
  margin-left: 0px;

  width: 370px;
  height: 294px;
}

.hoby-img {
  display: flex;
}

.list .hoby-list + .hoby-list {
  margin-left: 30px;
}

.hoby-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}
/*team*/

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.team-list .li-color + .li-color {
  margin-left: 30px;
}

.team-img {
  display: flex;
}

.team-container {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;

  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  color: var(--primary-text-color);
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--title-text-color);
}

.team-text {
  margin-bottom: 16px;
}

.link-soc {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #afb1b8;
}
.team-container .link-soc + .link-soc {
  margin-left: 10px;
}

.link-soc:hover,
.link-soc:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.soc-team {
  fill: currentColor;
}

.team-container .social + .social {
  margin-left: 10px;
}
/*footer*/

.footer-background .list {
  margin-top: 20px;
}

.footer-contacts {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}

.footer-background {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--primery-white-color);
}

.list-footer {
  padding-left: 0px;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

.list-footer .footer-li + .footer-li {
  margin-top: 9px;
}

.adres-footer {
  margin-top: 20px;
}

.footer-styles {
  width: 231px;
  display: flex;

  flex-direction: column;
}

.footer-address {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primery-white-color);
}

.footer-li {
  font-style: normal;
}

.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  height: 16px;

  text-transform: uppercase;

  color: var(--primery-white-color);
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-svg {
  fill: var(--primery-white-color);
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.footer-display {
  display: flex;
  justify-content: flex-start;
}

.div-social {
  display: flex;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;
}

.container-fooder {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 70px;
}

.social-list .social + .social {
  margin-left: 10px;
}
/*focus-hover*/

.site-focus .link:hover,
.site-focus .link:focus {
  color: var(--accent-color);
}
.site-focus .link.current {
  color: var(--accent-color);
}

/*button*/
.button {
  color: var(--title-text-color);
  background-color: var(--primary-text-color);

  cursor: pointer;
}
.button-primary:focus,
.button-primary:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primery-white-color);
}

.button-primary {
  padding: 10px 32px;
  margin-top: 30px;

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  cursor: pointer;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primery-white-color);
  border: none;
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primery-white-color);

  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  cursor: pointer;
}

.button-secondary {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  min-width: 73px;
  height: 38px;
  left: 593px;
  top: 174px;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  border: 0px;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}
/*test*/

.border-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/*портфоліо*/

.list-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

.portfolio-images {
  flex-direction: column;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;

  color: var(--primary-text-color);
}

.portfolio-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  cursor: pointer;
}

.portfolio-item:hover {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(n + 6) {
  margin-bottom: 0;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  color: var(--title-text-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-portfolio .list-button + .list-button {
  margin-left: 8px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

/*customers*/
.customers-list {
  color: #afb1b8;
  display: flex;
  list-style: none;
}

.customers-li {
  fill: #afb1b8;

  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
}

.customers-li:hover,
.customers-li:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

.customers-list .customers-li + .customers-li {
  margin-left: 30px;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
